*.py[cod]

# Packages
*.egg
.eggs/
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
debian/python-hhwebutils.*
debian/python-hhwebutils/
debian/python3-hhwebutils.*
debian/python3-hhwebutils/
debian/files
debian/debhelper-build-stamp
.pybuild/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
*.iml

# Mac OS X junk
.AppleDouble
.DS_Store
Icon?
.Spotlight-V100
.Trashes

# Windows junk
ehthumbs.db
Thumbs.db
Desktop.ini
