Source: python-hhwebutils
Section: python
Priority: extra
Maintainer: Andrey Sumin <an.sumin@hh.ru>
Build-Depends:
  debhelper (>= 9),
  python-all,
  python3-all,
  dh-python,
  python-setuptools,
  python3-setuptools,
  python-lxml,
  python3-lxml,
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-hhwebutils
Architecture: all
Depends:
  ${python:Depends},
  ${misc:Depends},
  python,
  python-lxml,
Description: hh.ru python common web utility library

Package: python3-hhwebutils
Architecture: all
Depends:
  ${python3:Depends},
  ${misc:Depends},
  python3,
  python3-lxml,
Description: hh.ru python common web utility library for Python 3
